<!-- TODO: Replace section ID -->
<!--
-->
{% if settings.fullwidth == true %}

{% endif %}

{% liquid
  if settings.fullwidth == true
    assign class = "fullwidth"
  else
    assign class = "box"
  endif
%}

<!-- TODO ICON SELELCTOR -->
<div class="custom-ups-bar {{ class  }}" data-cc-animate>
  <div class="custom-ups-bar__container">
    <div>{% render 'icon-refresh' %} {{ settings.ups_bar_col_1_text | escape }}</div>
    <div>{% render 'icon-truck' %} {{ settings.ups_bar_col_2_text | escape }}</div>
    <div>{% render 'icon-map' %} {{ settings.ups_bar_col_3_text | escape }}</div>
  </div>
</div>