<div class="bg-[#F5F6F4] w-full -mb-6" data-cc-animate>
  <div class="custom-product-banner max-w-[960px] px-5 mx-auto py-16 text-center">
    <h2 class="text-[#004289] text-4xl mb-4 font-bold">{{ collection.title }}</h2>
    <p class="text-[#004289] leading-6 md:leading-8">{{ collection.description }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Product Banner",
    "settings": [],
    "presets": [
      {
        "name": "Custom Product Banner"
      }
    ]
  }
{% endschema %}