<style>
  .custom-ups-bar__container {
    background-color: #004289;
    color: white;
  }
</style>

<!-- TODO ICON SELELCTOR -->
<div class="custom-ups-bar max-w-[1440px] px-5 mx-auto space-y-4 md:space-x-4 md:space-y-0 mb-6 font-bold">
  <div class="custom-ups-bar__container space-y-4 md:space-y-0 p-5 w-full flex flex-col md:flex-row justify-around">
    <div class="flex flex-row gap-2 items-center text-xl">
      {% render 'icon-refresh' %} {{ section.settings.ups_bar_col_1_text | escape }}
    </div>
    <div class="flex flex-row gap-2 items-center text-xl">
      {% render 'icon-truck' %} {{ section.settings.ups_bar_col_2_text | escape }}
    </div>
    <div class="flex flex-row gap-2 items-center text-xl">
      {% render 'icon-map' %} {{ section.settings.ups_bar_col_3_text | escape }}
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "UPS Bar",
    "settings": [
      {
        "type": "text",
        "id": "ups_bar_col_1_text",
        "label": "UPS Bar Text 1",
        "default": "28 Day Returns"
      }, {
        "type": "text",
        "id": "ups_bar_col_2_text",
        "label": "Free Delivery On Orders Over €40",
        "default": "28 Day Returns"
      }, {
        "type": "text",
        "id": "ups_bar_col_3_text",
        "label": "UPS Bar Text 3",
        "default": "Irish Family Business Since 1984"
      }
    ],
    "presets": [
      {
        "name": "UPS Bar"
      }
    ]
  }
{% endschema %}